@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 40px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 40px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/* header section */
.header{
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    background-color: #fff;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* Left section */
.left-section{
    display: flex;
    align-items: center;
}

.menu{
    height: 24px;
    margin: 0 24px;
    cursor: pointer;
}

.yt-logo{
    height: 20px;
    cursor: pointer;
}

/* Middle section */
.middle-section{
    flex: 1;
    margin: 0 35px 0 70px;
    max-width: 450px;
    display: flex;
    align-items: center;
}

.middle-section input{
    height: 40px;
    flex: 1;
    min-width: 0;
    padding-left: 12px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid #cccccc;
    font-size: 16px;
    width: 0;
}

.search-button{
    height: 40px;
    width: 60px;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin: 0;
    cursor: pointer;
}

.search-button .search{
    height: 24px;
}

.search-button, .voice-search, .upload-button, .yt-apps, .notify{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.middle-section .tooltip, .right-section .tooltip{
    position: absolute;
    background-color: #606060;
    color: white;
    padding: 6px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    cursor: pointer;
}

.search-button:hover .tooltip, .voice-search:hover .tooltip{
    opacity: 1;
}

.upload-button:hover .tooltip, .yt-apps:hover .tooltip{
    opacity: 1;
}

.notify:hover .tooltip{
    opacity: 1;
}

.voice-search{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 0;
    margin-left: 12px;
    outline: 0;
    border-radius: 30px;
    background-color: #f5f5f5;
    cursor: pointer;
}

.voice-search .voice{
    height: 24px;
}

/* Right section */
.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    flex-shrink: 0;
    cursor: pointer;
}

.upload-icon{
    height: 24px;
}

.app-icon{
    height: 24px;
}

.notification-icon{
    height: 24px;
}

.notify{
    position: relative;
}

.notification-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(223, 50, 50);
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 10px;
}

.profile-icon{
    height: 32px;
    border-radius: 16px;
}

/* Side Bar */
.side-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 75px;
    z-index: 200;
}

.side-icon{
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.side-icon:hover{
    background-color: rgb(235, 235, 235);
}

.side-icon img{
    height: 24px;
    margin-bottom: 7px;
}

.side-icon div{
    font-size: 10px;
}

/*   Body section  */
.container{
    margin-top: 20px;
    background-color: #f5f5f5;
    padding-left: 14px;
}

.video-preview {
    cursor: pointer;
}

.thumbnail {
    width: 100%;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 10px;
    position: relative;
}

.video-title {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
}

.video-author {
    font-size: 13px;
    color: #606060;
    margin-bottom: 2px;
    font-weight: 500;
}

.video-stats {
    font-size: 13px;
    color: #606060;
}

.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-size: 12px;
    font-family: 500;
    padding: 4px;
    border-radius: 2px;
}

@media (max-width: 750px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:751px) and (max-width: 900px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}